body {
    background-color: ghostwhite;
    font-family: Open Sans, sans-serif;
    margin: 0;
}

main {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.app-container {
    padding-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    max-height: 100%;
}

.welcome-container {
    padding-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    max-height: 100%;
}

footer {
    font-size: small;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.profile-pic {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar-profile-pic {
    width: 40px;
    height: 40px;
}

.bio-profile-pic {
    width: 150px;
    height: 150px;
}

.friend-profile-pic {
    min-width: 100px;
    height: 100px;
}
