body {
    background-color: whitesmoke;
    font-family: Open Sans, sans-serif;
    margin: 0;
}

main {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.app-container {
    padding-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    max-height: 100%;
}

.welcome-container {
    padding-top: 70px;
    margin-left: 100px;
    margin-right: 100px;
    max-height: 100%;
}

footer {
    font-size: small;
    padding-left: 100px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

.user-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-left: 0;
}

.user-group-container {
    margin-bottom: 50px;
}

.user-container {
    height: 220px;
}

.page-container {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.profile-pic {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navbar-profile-pic {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.bio-profile-pic {
    width: 150px;
    height: 150px;
}

.friend-profile-pic {
    width: 100px;
    height: 100px;
}

.not-found {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("/img/404.jpg");
    opacity: 0.8;
    z-index: -1;
    color: white;
}

.error-message {
    font-size: small;
}

@media screen and (max-width: 720px) {
    .page-container {
        grid-template-columns: 1fr;
        padding-top: 60px;
    }
    .app-container {
        width: 100vw;
        padding: 0;
        margin: 0;
    }
}
