.preview-container {
    max-height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr 1fr 1fr;
    overflow: scroll;
    scrollbar-width: none;
}

.map-container {
    margin-left: 20px;
    height: 70vh;
    max-width: 100%;
}

.marker {
    width: 0;
    height: 0;
}

.marker span {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    color: #fff;
    background: #4d2d73;
    border: solid 2px;
    border-radius: 0 70% 70%;
    box-shadow: 0 0 2px #000;
    cursor: pointer;
    transform-origin: 0 0;
    transform: rotateZ(-135deg);
}

.marker b {
    transform: rotateZ(135deg);
}

.temporary-marker span {
    background: #9989f5;
}

.select-category {
    display: flex;
}
