.status {
    position: relative;
    top: -20px;
    left: 70px;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 2px solid white;
    background-color: whitesmoke;
}

.online {
    background-color: rgb(50, 205, 89);
}

.outer-chat-container {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
    width: 500px;
    height: 500px;
}

.inner-chat-container {
    background-color: white;
    list-style-type: none;
    padding: 0 15px 0 15px;
    width: 470px;
    height: 100%;
    overflow: scroll;
    scrollbar-width: none;
}

.chat-field {
    display: grid;
    margin-bottom: 10px;
    overflow: scroll;
    scrollbar-width: none;
    font-size: 15px;
}

.chat-user {
    display: flex;
}

.user-self {
    display: grid;
    justify-items: end;
    padding: 10px 10px 10px 50px;
    background-color: rgba(0, 139, 139, 0.2);
    text-align: end;
    justify-self: flex-end;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 45%;
}

.user-other {
    padding: 10px 50px 10px 10px;
    background-color: rgba(240, 128, 128, 0.2);
    width: -moz-fit-content;
    width: fit-content;
    min-width: 45%;
}

.user-info {
    margin: 10px 5px 0 5px;
    font-size: small;
    color: gray;
}

.chat-textarea {
    width: 490px;
    height: 100px;
    font-family: inherit;
    font-size: 15px;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    padding: 5px;
}

.message {
    padding-bottom: 5px;
}

.message-profile-pic {
    width: 40px;
    height: 40px;
}

.delete-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.deleted-message {
    color: gray;
    font-style: italic;
}
