.profile-container-left {
    max-height: 85vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto auto;
    overflow: scroll;
    scrollbar-width: none;
    align-content: flex-start;
}

.bio-container {
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: space-around;
}

.bio-text {
    padding: 5px;
    max-width: 250px;
    overflow: scroll;
    scrollbar-width: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
}

.bio-textarea {
    height: 100px;
    font-family: inherit;
    font-size: medium;
    border: none;
    padding: 5px;
    margin-left: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
}

.profile-container-right {
    margin-top: 50px;
    padding: 10px 10px 40px 10px;
    max-width: 650px;
    width: 100%;
    max-height: 85vh;
    overflow: scroll;
    scrollbar-width: none;
}

.profile-container-right img {
    margin-bottom: 5px;
    width: 100%;
}

.post-container {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}

.wall-img {
    width: 400px;
}

.modal {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(248, 248, 255, 0.8);
    z-index: 3;
}

.modal-box {
    width: 45%;
    max-width: 400px;
    position: fixed;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 80%;
    display: grid;
    justify-self: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 15px;
    z-index: 4;
    top: 15%;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.modal-img-box {
    min-width: 300px;
    max-width: 800px;
    position: fixed;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 80%;
    display: grid;
    justify-self: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 5px 12px rgba(0, 0, 0, 0.2);
    background-color: white;
    padding: 5px 15px 15px 15px;
    z-index: 5;
    top: 10%;
}

.modal-close {
    justify-self: end;
}

.setting-buttons {
    width: 350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
}

@media screen and (max-width: 720px) {
    .setting-buttons {
        padding-left: 20px;
    }

    .profile-container-left {
        max-width: 90vw;
        padding: 10px 10px 0 10px;
    }

    .profile-container-right {
        padding: 10px 10px 40px 10px;
        max-width: 90vw;
    }
}
